ADMIN_TOKEN=RBAC_TOKEN
CONFIG_DIR=./config/
LOG_LIB=node-color-log
FEATURE_DELETE_EXISTING_USERS=false
KONG_ADDR=https://api.kong.lan:8444
PROXY=http://localhost:8888

# COOKIE / RBAC / PASSWORD
AUTH_METHOD=PASSWORD
ADMIN_USER=kong_admin
BASE64_UID_PWD ="a29uZ19hZG1pbjpwYXNzd29"
CA=/tmp/tls.crt